<a href="https://colab.research.google.com/github/Ashwitharavula/ps_lab/blob/main/12/09/25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
data={
    'Name':['Ravi','Neha','kiran','sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print(df)
print(df.isnull())

    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [4]:
df_dropped=df.dropna()
print(df_dropped)

   Name   Age  Marks
0  Ravi  25.0   85.0
3  sita  28.0   92.0

In [5]:
df_filled=df.fillna(0)
print(df_filled)
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Marks']=df['Marks'].fillna(df['Marks'].mean())

print(df)

    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  kiran  30.0    0.0
3   sita  28.0   92.0
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  kiran  30.000000   89.0
3   sita  28.000000   92.0

In [6]:
import pandas as pd
import numpy as np
data={
    'Name':['Ravi','Neha','kiran','sita'],
    'age':[25,np.nan,30,28],
    'marks':[85,90,np.nan,92]
}
df=pd.DataFrame(data)
print(df)
df_no_dup=df.drop_duplicates()
print(df_no_dup)

    Name   age  marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0
    Name   age  marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  kiran  30.0    NaN
3   sita  28.0   92.0

In [7]:
data = {
'ID': ['1', '2', '3', '4'],
'Marks': ['85', '90', '78', '92']
}
df = pd.DataFrame(data)
print("Original Data Types:")
print(df.dtypes)
# Convert to numeric
df['ID'] = pd.to_numeric(df['ID'])
df['Marks'] = pd.to_numeric(df['Marks'])
print("\nAfter Conversion:")
print(df.dtypes)

Original Data Types:
ID       object
Marks    object
dtype: object

After Conversion:
ID       int64
Marks    int64
dtype: object

In [8]:
import pandas as pd
students=pd.DataFrame({
    'Student_ID':[101,102,103,104],
    'Name':['Ravi','Neha','Kiran','Sita']
})
#Marks Data
marks=pd.DataFrame({
    'Student_ID':[101,102,103,105],
    'Marks':[85,90,78,88]
})
merged_df=pd.merge(students,marks,on='Student_ID')
print(merged_df)

   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [9]:
# Apply transformation - add 5 bonus marks
df['Marks'] = df['Marks'].apply(lambda x: x + 5)
print("After Adding Bonus Marks:")
print(df)
# Normalization of Marks
df['Marks_Normalized'] = (df['Marks'] - df['Marks'].min()) / (df['Marks'].max() - df['Marks'].min())
print("Normalized Marks:")
print(df)

After Adding Bonus Marks:
   ID  Marks
0   1     90
1   2     95
2   3     83
3   4     97
Normalized Marks:
   ID  Marks  Marks_Normalized
0   1     90          0.500000
1   2     95          0.857143
2   3     83          0.000000
3   4     97          1.000000

In [10]:
import pandas as pd
# Student Data
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
})
# Marks Data
marks = pd.DataFrame({
'Student_ID': [101, 102, 103, 105],
'Marks': [85, 90, 78, 88]
})
# Merge on Student_ID
merged_df = pd.merge(students, marks, on='Student_ID')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78